@import "../../helpers/scss/color-variables.scss";

.player-score {
  width: 100%;
  text-align: center;
}

.player-score--red.player-score--color {
  background: rgb(255, 10, 10);
  background: linear-gradient(
    90deg,
    rgba(255, 10, 10, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
}

.player-score--green.player-score--color {
  background: rgb(255, 255, 255);
  background: linear-gradient(
    90deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(134, 255, 32, 1) 100%
  );
}

.player-score__text {
  font-size: 20px;
  font-weight: 600;
}

.player-score__value {
  font-size: 24px;
  margin-top: 5px;
}
